.bgcolor1{
    background-color: #51bfd0;
}

.bgcolor1-op10{
    background-color: #51bfd0;
    opacity: 10%;
}

.bgcolor2{
    background-color: #042425;
}

.bgcolor3{
    background-color: #3addd6;
}

.bgcolor4{
    background-color: #5e90af;
}

.bgcolor5{
    background-color: #818181;
}
.color5{
    color: #818181;
}
.bgcolor6{
    background-color: #e56946;
}
.bgcolor7{
    background-color: #f8f3f0;
}

.opensans{
    font-family: 'Open Sans', 'Comfortaa', Arial, Helvetica, sans-serif;
}

.myriadpro{
    font-family: 'Myriad Pro', 'Comfortaa', Arial, Helvetica, sans-serif;
}

.opacity-down{
    opacity: 20%;
}

.top{
    top:25%;
}